@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue800: #1e40af;
  --blue600: #2563eb;
  --red500: #ef4444;
  --red600: #dc2626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background);
    --foreground: var(--foreground);
  }
}
/*text-main*/
.text-main {
  color: var(--blue800);
}
/*text-hover-blue*/
.text-hover-red {
  transition: color 0.2s ease;
}
.text-hover-red:hover {
  color: var(--red600);
}
/*text-hover-red*/
.text-hover-blue {
  transition: color 0.2s ease;
}
.text-hover-blue:hover {
  color: var(--blue800);
}
/*button-blue*/
.button-blue {
  background-color: var(--blue800);
  color:#ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.button-blue:hover {
  background-color: var(--blue600);
}
/*button-red*/
.button-red {
  background-color: var(--red600);
  color:#ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.button-red:hover {
  background-color: var(--red500);
}
/* DateInput */
.date-input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}
/* DateInput Firefox */
.date-input::-moz-calendar-picker-indicator {
    cursor: pointer;
}

/*box-shadow*/
@layer utilities {
  .shadow-custom {
    box-shadow: 
      0 -1px 2px rgba(0, 0, 0, 0.1),  
      0 4px 6px rgba(0, 0, 0, 0.3);
  }
}
/*animation*/
@layer utilities {
  /*animation text underline*/
  .underline-animation {
    position: relative;
    display: inline-block;
  }
  .underline-animation::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--blue600);
    transition: width 0.3s ease-in-out;
  }
  .underline-animation:hover::after {
    width: 100%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
